
.header{
  grid-area: header;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #75757525;
  position: relative;
}

.logo {
    width: 18rem;
    height: 6rem;
    background-color: red;
    border-radius:3.125rem;
    border: 2px solid gray;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 2.5rem;
  }
  
  .textHeader {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem rgba(128, 128, 128, 0.5);
    transition-duration: 0.7s;
  }
  
  .textHeader:hover {
    font-size: 1.7rem;
    text-shadow: 0.2rem 0.2rem rgba(128, 128, 128, 0.5);
    transition-duration: 1s;
  }
  
  .cart {
    margin-right: 4.5rem;
  }

  .shopButton{
    font-size: 2rem;
    cursor: pointer;  
    position: absolute;
    top: 6rem;
    right: 8rem;
  }
  .shopButton :hover,
  .shoppButton.active{
    color: #dc3d3d;
    transition:  500ms ease;
  }
  .shopCart{
    position: absolute;
    top: 8rem;
    right: 0;
    width: 28rem;
    text-transform: capitalize;
    background-color: rgb(0, 255, 255);
    padding: 0.625rem;
    z-index: 10;
    border-radius:1rem;
    padding-bottom: 0px;
  }
  
  .cabinet {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.2;
    color: brown;
    text-align: start;
    margin-top: -1.5rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  .total{
    font-weight: 700;
    font-size: 1.25rem;
    padding-left:1rem;
    padding-bottom: 0.625rem;
  }
  .makeOrder{
    font-size: 1.2rem;
    margin-left: 10rem;
    cursor: pointer; 
    border: 0.0625rem solid black; 
    border-radius: 0.7rem; 
    padding: 0.2rem 0.5rem; 
    transition: 0.7s;
  }
  .makeOrder:hover{
    transform: scale(1.2,1.2);   
  }