.main{
    width: 75%;
    position: absolute;
    top: 12.5rem;
    right: 0;
    
    margin-top: 3.5rem;
}
.items{
        display: flex;
       flex-wrap: wrap;
       gap: 4rem;
}
.fullItem{
    display: flex;
    flex-direction: column;
}
.fullItem img {
    width: 30%;
}