.order{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.7rem;   
    position: relative;
    border: 0.1rem dotted black;
}
.order img{
    width: 5rem;
}
.deleteIcon{
    color: #000000c1;
    position: absolute;
    top: 1.25rem;
    right: 0.8rem;
    cursor: pointer;
}
.deleteIcon:hover{
    color: #000;
    transform: scale(1.3);
    transition: 500ms ease;
}
b{
    font-size: 1.2rem;
    color: purple;
    text-transform: lowercase;
}