.sidebar{
    width: 25%;
    background-color: azure;
    position: absolute;
    top: 9rem;
    left: 0;
}
.contacts {
    margin-right: 5rem;
    padding: 1.85rem;
  }
.linkInfo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
.social {  
    padding-right: 0.4rem;
  }
.infoLi {
    color: #000000;
    font-size: 1.1rem;
    line-height: 1.2;
  }
  
  .infoLi:hover,
  .infoLi:focus {
    font-weight: 600;
    font-size: 1.2rem;
    transition: 500ms ease;
  }

.hit {
    font-weight: 700;
    font-size: 1.55rem;
    line-height: 1.2;
    text-align: center;
    margin-top: 4.4rem;
    background-color: orangered;
    color: blue;
    width: 16rem;
    margin-left:2.5rem;
    margin-bottom: 3.6rem;
    border-radius: 2rem;
    padding: 1rem 0;
  }
  .imgPhoto{
    width: 18rem;
    border: 1rem double red;
    border-radius: 1rem;
    transition-duration: 1s; 
    margin-bottom: 2rem;
  }
  .imgPhoto:hover{
    transform: scale(-1, 1);
    transition-duration: 1.5s;
  }

.popup {
  width: 18rem;
  border-radius: 0.8rem;
  background-color: rgba(0, 128, 0, 0.46);
  padding: 0.6rem;
  margin-left: 0.5rem;
}

.popupClose {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.popupCloseX {
  margin-left: 9.5rem;
  cursor: pointer;
  border: 0.0625rem solid black;
  border-radius: 50%;
  padding: 0.04rem 0.3rem;
}

.popupText {
  font-size: 1.25rem;
  line-height: 1.2;
}